<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    	<title>{{ page.title }}</title>

    	<script src="javascripts/toc.js"></script>
    	<script src="javascripts/jquery-2.1.0.min.js"></script>

	    <link rel="stylesheet" href="stylesheets/styles.css">
    	<link rel="stylesheet" href="stylesheets/pygment_trac.css">
    	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    	<!--[if lt IE 9]>
    		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    	<![endif]-->
	</head>
	<body>
		<div class="wrapper">
      		<header>
	    		<h1>{{ page.title }}</h1>
    			<p>{{ page.description }}</p>

			    <!-- <p class="view"><a href="https://github.com/BMKEG/systems-biology-kefed">View the Project on GitHub <small>BMKEG/systems-biology-kefed</small></a></p>-->
				<ul>
        			<li><a href="{{ page.prevPage }}">Navigate to<strong>previous</strong></a></li>
        			<li><a href="index.html">Navigate to <strong>top</strong></a></li>
        			<li><a href="{{ page.nextPage }}">Navigate to <strong>next</strong></a></li>
				</ul>
<ol>
	<li><a href="01aGenerativeModelForTextFromExperimentalObservations.html">A Generative Model for Text from Experimental Observations</a></li>
        <li><a href="02bigMechanismsEvalCorpus.html">Generating the Big Mechanisms Evaluation Corpus</a></li>
        <li><a href="03fragments.html">Epistemics and Fragments</a></li>
        <li><a href="04kefed1.html">Developing NL Annotations for KEfED Elements</a></li>
        <li><a href="05evaluatingEvidenceExtraction.html">Reading Against a Model of Experimental Evidence</a></li>
        <li><a href="06deployingBioScholar.html">Deploying the BioScholar System</a></li>
 	<li><a href="07heuristicsForResultText.html">Building a Database of Observations from Result Text</a></li>
 	<li><a href="08pathwayLogicExperimentTypes.html">Pathway Logic Experiment Types</a></li>
 	<li><a href="09initialResultsKEfEDEpistemicsStudy.html">Initial Extraction Study of Results-Based Epistemics</a></li>
 	<li><a href="10modelsOfCoprecipitationPapers.html">KEfED Modeling of Coprecipitation Ras Papers</a></li>
	<li><a href="11kefedDatabaseConstruction.html">KEfED Database Construction</a></li>
	<li><a href="12MotifTypes.html">List of Experimental Motif Types + Definitions</a></li>
	<li><a href="13coPIFramesV2.html">Coprecipitation Frames v2</a></li>
</ol>

			</header>
      
      		<section>
      		<div class="toc"></div>

          	{{ content }}

	  	</section>

    	</div>
    	<script src="javascripts/scale.fix.js"></script>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        	try {
              	var pageTracker = _gat._getTracker("UA-50171612-1");
            	pageTracker._trackPageview();
            } catch(err) {}
		</script>
  </body>
</html>